/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-Label {
	color: #DF0101;
	font: normal 12px tahoma, arial, helvetica, sans-serif;
	border: 1px solid #99bbe8;
	padding: 14px;
}

.gwt-Button {
	height: 5.7em;
	margin-bottom: 5px;
	padding-bottom: 3px;
	font-size: 12px;
	font-family: arial, sans-serif;
}
