target
/.settings
/.settings

/features/.settings
/features/.project
/pax-web-api/.settings
/pax-web-api/.project
/pax-web-api/.classpath
/pax-web-deployer/.project
/pax-web-deployer/.settings
/pax-web-deployer/.classpath
/pax-web-extender-war/.project
/pax-web-extender-war/.settings
/pax-web-extender-war/.classpath
/pax-web-extender-whiteboard/.project
/pax-web-extender-whiteboard/.settings
/pax-web-extender-whiteboard/.classpath
/pax-web-jetty/.project
/pax-web-jetty/.settings
/pax-web-jetty/.classpath
/pax-web-jetty-bundle/.project
/pax-web-jetty-bundle/.settings
/pax-web-jetty-bundle/.classpath
/pax-web-jsp/.project
/pax-web-jsp/.settings
/pax-web-jsp/.classpath
/pax-web-runtime/.project
/pax-web-runtime/.settings
/pax-web-runtime/.classpath
/pax-web-spi/.settings
/pax-web-spi/.classpath
/pax-web-spi/.project
/samples/.project
/samples/.settings
/samples/authentication/.project
/samples/authentication/.settings
/samples/authentication/.classpath
/samples/features/.settings
/samples/features/.project
/samples/helloworld-hs/.project
/samples/helloworld-hs/.settings
/samples/helloworld-hs/.classpath
/samples/helloworld-jsp/.project
/samples/helloworld-jsp/.settings
/samples/helloworld-jsp/.classpath
/samples/helloworld-wc/.project
/samples/helloworld-wc/.settings
/samples/helloworld-wc/.classpath
/samples/jetty-config-fragment/.project
/samples/jetty-config-fragment/.settings
/samples/jetty-config-fragment/.classpath
/samples/provision/.project
/samples/provision/.settings
/samples/provision/.classpath
/samples/war/.project
/samples/war/.settings
/samples/war/.classpath
/samples/whiteboard/.project
/samples/whiteboard/.settings
/samples/whiteboard/.classpath