name: Java CI

on: [push, pull_request]

jobs:
  compile:
    runs-on: ubuntu-latest
    name: Compile
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B install -DskipTests --file pom.xml
  build:
    runs-on: ubuntu-latest
    needs: compile
    name: Build Maven project
    strategy:
      matrix:
        profile: [tomcat, jetty, undertow]
        framework: [felix, equinox]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B verify -P ${{ matrix.profile,matrix.framework }} --file pom.xml
